@{
    ViewData["Title"] = "Proyecto";
}
<h1>@ViewData["Title"]</h1>

<p>Proyecto creado por: Brayan Domínguez Saucedo 4° "B"<br>Telefono: 4941150377<br>
    correo: 20201016@uaz.edu.mx <br> Todos los derechos reservados.</p>
